<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>helloworld</title>
</head>
<body>
    <h1>登陆</h1>
    <h2>用户输入：</h2>
    <form action="/hello/" method="post">
        {% csrf_token %}
        用户名: <input type="text" name="username" /><br />
        密码: <input type="password" name="password" /><br />
        <input type="submit" value="提交"/>
    </form>
    <table border="1">
    <thread>
        <th>用户名</th>
        <th>密码</th>
    </thread>
    <tbody>
    {% for line in data %}
        <tr>
            <td> {{ line.user }}</td>
            <td> {{ line.passwd }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</body>
</html>